/* reset */
a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{background:0 0;margin:0;padding:0;outline:0;border:0;vertical-align:baseline;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit}body{line-height:1}blockquote,q{quotes:none}img{border:0;-ms-interpolation-mode:bicubic}table{border-collapse:collapse;border-spacing:0}caption,td,th{vertical-align:middle;text-align:left}form,input,select,textarea{margin:0}h1,h2,h3,h4,h5,h6{display:block;color:inherit;font-weight:inherit;font-style:inherit}* html h1,* html h2,* html h3,* html h4,* html h5,* html h6,*+html h1,*+html h2,*+html h3,*+html h4,*+html h5,*+html h6{font-weight:400}article,aside,footer,header,nav,section{display:block}

.comment-form-author {
    position: relative;
    font-size: 12px;
    margin: 10px 0;
}

.comment-form-author label {
    border: 0;
    background: #eee;
    -webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
    -moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
    box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
    color: #555;
    display: inline-block;
    font-size: 13px;
    line-height: 2.2em;
    left: 4px;
    min-width: 60px;
    padding: 4px 10px;
    position: relative;
    top: 40px;
    z-index: 1;
}

.required {
    color: #bd3500;
    font-size: 22px;
    font-weight: bold;
    left: 75%;
    position: absolute;
    top: 45px;
    z-index: 1;
}

#author {
    background: #fff;
    border: 4px solid #eee;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
    -moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
    box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
    position: relative;
    padding: 10px;
    text-indent: 80px;
}

#respond input[type=text] {
    outline: none;
    display: block;
    height: 24px;
    width: 75%;
    color: #888;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.625;
}

#respond input[type="text"]:focus {
    text-indent: 0;
    z-index: 1;
}

#respond {
    background: #ddd;
    border: 1px solid #d3d3d3;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto 1.625em;
    padding: 1.625em;
    position: relative;
    width: 68.9%;
}

.check {
    margin: 30px;
    display: inline-block;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;   
}

.check__label,
.check__input,
.check__radio {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    line-height: 20px;
}

.check__input,
.check__radio {display: none;}

.check__label:before {
    content: "";
    display: inline-block;
    border: 1px solid #000;   
    margin: 0 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: top;
    -webkit-transition: font-size 0.2s ease-out;
    -o-transition: font-size 0.2s ease-out;
    transition: font-size 0.2s ease-out;
    box-shadow: inset 0 0 2px 0px rgba(0,0,0,0.8);
}

.check__input:checked + .check__label:before {
    content: "\2713";
    color: green;
    border-color: green;
    font-size: 20px;
    line-height: 20px; 
    box-shadow: inset 0 0 2px 0px rgba(0,255,0,0.8);
}

.check__radio + .check__label:before {
    content: "";
    border-radius: 50%;
    font-size: 0;    

}

.check__radio:checked + .check__label:before {
    content: "\25CF";
    color: green;
    border-color: green;
    font-size: 18px;
    line-height: 18px; 
    box-shadow: inset 0 0 2px 0px rgba(0,255,0,0.8);
}

.check__input:checked + .check__label,
.check__radio:checked + .check__label {
    color: green;
}

